	#about{
		/*display: inline-block;
		left: 300px;
		width: 500px;
		font-family: "Times New Roman", Times, serif;
		text-align: center;*/
		left: 200px;
		right: 200px;
    width: 849px;
    position: absolute;
    min-height: 318px;
    text-align: justify;
	}
    @media (max-width: 992px) {
    #about{
        /*display: inline-block;
        left: 300px;
        width: 500px;
        font-family: "Times New Roman", Times, serif;
        text-align: center;*/
        left: 0px;
        right: 0px;
        word-wrap: break-word;
    position: absolute;
    min-height: 318px;
    max-width: 100%;
    text-align: justify;
    }
}
