{% extends "base.html" %}
{% load static %}
{% block content %}
{% load widget_tweaks %}
<style type="text/css">
	#about{
		/*display: inline-block;
		left: 300px;
		width: 500px;
		font-family: "Times New Roman", Times, serif;
		text-align: center;*/
		left: 200px;
		right: 200px;
    width: 849px;
    position: absolute;
    min-height: 318px;
    text-align: justify;
	}
    @media (max-width: 992px) {
    #about{
        /*display: inline-block;
        left: 300px;
        width: 500px;
        font-family: "Times New Roman", Times, serif;
        text-align: center;*/
        left: 0px;
        right: 0px;
        word-wrap: break-word;
    position: absolute;
    min-height: 318px;
    max-width: 100%;
    text-align: justify;
    }
</style>
<div class="col-md" id="headphotos">
	<img style="width: 33%; height: 310px;padding: 0px;" src="{% static 'team4.jpg' %}">
	<img style="width: 33%;height: 310px;padding: 0px;" src="{% static 'team5.jpg' %}">
	<img style="width: 33%;height: 310px;padding: 0px;" src="{% static 'team6.jpg' %}">
</div>
<br>
<div id="about">
	<!-- striptags | linebreaks -->
	{{info.about | safe }}
	<form class="form-horizontal" role="form" action="." method="post">
        {% csrf_token %}
            {% for field in form %}
                {% if field.errors %}
                    <div class="form-group has-error">
                        <label class="col-md-3 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                        <div class="col-md-6">
                            {{ field|attr:"class:form-control" }}
                            <span class="help-block">
                                {% for error in  field.errors %}{{ error }}{% endfor %}
                            </span>
                        </div>
                    </div>
                {% else %}
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                        <div class="col-md-6">
                            {{ field|attr:"class:form-control" }}
                            {% if field.help_text %}
                                <p class="help-block"><small>{{ field.help_text }}</small></p>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

            <div class="form-group">
                <div class="col-md-offset-3 col-md-6">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>

        </form>
</div>


        <br>

        


<!--<div id="about2" style="left: 200px; right: 200px; text-align: justify;">
	{{info.about | striptags | linebreaks}}
</div>-->
{% endblock %}