{% extends "base.html" %}
{% load static %}
{% block content %}
{% static "" as baseUrl %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/team.css' %}">
<div class="col-md" id="headphotos">
	<img style="width: 33%; height: 310px;padding: 0px;" src="{% static 'team1.jpg' %}">
	<img style="width: 33%;height: 310px;padding: 0px;" src="{% static 'team2.jpg' %}">
	<img style="width: 33%;height: 310px;padding: 0px;" src="{% static 'team3.jpg' %}">
</div>
<br>
<h2 style="text-align: center;"> Team Members</h2>
<hr>
<div id="profiles" class="container-fluid">
{% for team in teams %} <!-- in views.py there's a variable teams that has all the results from the query. teams is a list of TeamMembers objects which has photo, name, description, linkedin. You can see it in models.py -->
    {% if forloop.first %}<div class="row">{% endif %} <!-- if loopcount is 1 -->
    <div class="col-lg-6">
    	<div class="row" style="width: 450px;">
    		<img class="img-circle" style="position: relative;width: 300px;height: 300px;" src="{{ baseUrl }}media/{{team.photo}}"> <!-- when someone uploads their photo is goes into the static folder ./media/ and {{team.photo}} is the TeamMember object and getting the photo from the query -->
    		<div style="left: 260px;width: 260px; height: 100%;">
    			<h5>{{team.name | safe}}</h5>
			{% if team.classnum %}
    			<h5>Class of {{team.classnum | safe}}</h5>
			{% endif %}
    			<h5>Major: {{team.major | safe}}</h5>
    			{% if team.linkedin %} <!-- since having a linkedin is optional if there is a url then add the linkedin logo with the url -->
    			<p><a target="_blank" href="{{ team.linkedin }}"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></p>
    			{% endif %}
			{% if team.description %}
    			<p style="text-align: center;"> {{team.description | safe}}</p>
			{% endif %}
    		</div>
    	</div>
            
        </div>
    {% if forloop.counter|divisibleby:2 %}</div><div class="row">{% endif %} <!-- if the number of loops done is divisible by 3 then it creates a new row-->
    {% if forloop.last %}</div>{% endif %}
{% endfor %}
</div>
{% endblock %}
